.v-tabs-bar {
  background-color: unset;
  height: auto !important;
  .v-tabs-slider{
    background-color: unset !important;
  }
  .tab-active{
    background-color: #ffffff !important;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
    border-radius: 15px 15px 0 0 !important;
    height: 60px !important;
    margin-top: 0px !important;
  }
  .tab-default{
    background-color: #f1f8ff;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 5%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    border-radius: 8px 8px 0 0;
    height: 40px;
    margin-top: 20px;
  }
}
.v-tabs{
  .v-tab:hover::before{
    border-radius: 15px 15px 0 0 !important;
  }
  .tab-items{
    border-radius: 10px !important;
    margin-top: -5px !important;
  }
}