table{
  thead{
    tr:nth-child(1):before {
      content: '';
      width: 15px;
      background-color: #a5cdff;
      position: absolute;
      height: 46px;
      border-radius: 15px 0 0 0;
    }
    th{
      background-color: #a5cdff;
    }
    th:nth-child(1) {
      border-radius: 10px 0 0 0;
    }
    th:nth-child(1) {
      -moz-border-radius: 10px 0 0 0;
      -webkit-border-radius: 10px 0 0 0;
    }
    th:nth-child(8) {
      border-radius: 0 10px 0 0;
    }
    th:nth-child(8) {
      -moz-border-radius: 0 10px 0 0;
      -webkit-border-radius: 0 10px 0 0;
    }
  }
  tbody{
    tr:nth-child(even) {
      background: #eaf4fe;
    }
    tr:nth-child(odd):before {
      content: '';
      width: 4px;
      background-color: #ffffff;
      position: absolute;
      height: 56px;
    }
    tr:nth-child(even):before {
      content: '';
      width: 4px;
      background-color: #6b9ddf;
      position: absolute;
      height: 56px;
    }
  }
}
.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper):nth-child(odd) {
  background: unset !important;
}
.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper):nth-child(even) {
  background: #eaf4fe !important;
}