.invoice-search{
  .v-input__prepend-inner{
    padding-right: 20px !important;
    i{
      color: #E0E0E0;
    }
  }
  .v-label{
    color: #E0E0E0 !important;
  }
  .v-input__control > .v-input__slot {
    box-shadow: 0px 3px 1px -2px #00000000, 0px 2px 2px 0px hsl(0deg 0% 0% / 0%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
  }
}
.v-breadcrumbs{
  a{
    color: #42A5F5 !important;
  }
}