@import "font/mixins";
@import "round/varriables";
@import "font/varriables";
@import "line-clamp/varriables";

@include font-face(
  'Ubuntu-Bold',
  'Ubuntu-Bold',
  '~@/assets/fonts/Ubuntu/'
);
$UbuntuBold: 'Ubuntu-Bold';

@include font-face(
  'Ubuntu-Light',
  'Ubuntu-Light',
  '~@/assets/fonts/Ubuntu/'
);
$UbuntuLight: 'Ubuntu-Light';

@include font-face(
  'Ubuntu-Medium',
  'Ubuntu-Medium',
  '~@/assets/fonts/Ubuntu/'
);
$UbuntuMedium: 'Ubuntu-Medium';

@include font-face(
  'Kanit-Bold',
  'Kanit-Bold',
  '~@/assets/fonts/Kanit/'
);
$KanitBold: 'Kanit-Bold';

@include font-face(
  'Kanit-Light',
  'Kanit-Light',
  '~@/assets/fonts/Kanit/'
);
$KanitLight: 'Kanit-Light';

@include font-face(
  'Kanit-Medium',
  'Kanit-Medium',
  '~@/assets/fonts/Kanit/'
);
$KanitMedium: 'Kanit-Medium';
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.v-application{
  background-color: #eaf4fe !important;
}
.title-bold{
  font-family: $UbuntuBold, $KanitBold !important;
}
.title-medium{
  font-family: $UbuntuMedium, $KanitMedium !important;
}
#app {
  height: 100%;
  font-family: $UbuntuLight, $KanitLight !important;
}
html{
  overflow-y: auto !important;
  overflow-x: hidden !important;
  font-size: $title-8 !important;
}
html::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px #5d5d5d;
  background-color: #5d5d5d;
}
html::-webkit-scrollbar{
  width: 0px;
}
html::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px #424242;
  background-color: #424242;
}
.card-main{
  overflow-y: auto !important;
  overflow-x: hidden !important;
  font-size: $title-8 !important;
}
.card-main::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px #5d5d5d;
  background-color: #5d5d5d;
}
.card-main::-webkit-scrollbar{
  width: 0px;
}
.card-main::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px #424242;
  background-color: #424242;
}
.title-1{
  font-size: $title-1 !important;
}
.title-2{
  font-size: $title-2 !important;
}
.title-3{
  font-size: $title-3 !important;
}
.title-4{
  font-size: $title-4 !important;
}
.title-5{
  font-size: $title-5 !important;
}
.title-6{
  font-size: $title-6 !important;
}
.title-7{
  font-size: $title-7 !important;
}
.title-8{
  font-size: $title-8 !important;
}
.title-9{
  font-size: $title-9 !important;
}
.title-10{
  font-size: $title-10 !important;
}
.title-11{
  font-size: $title-11 !important;
}
.title-12{
  font-size: $title-12 !important;
}
.title-13{
  font-size: $title-13 !important;
}
.title-14{
  font-size: $title-14 !important;
}
.title-15{
  font-size: $title-15 !important;
}
.title-16{
  font-size: $title-16 !important;
}
.title-17{
  font-size: $title-17 !important;
}
.title-18{
  font-size: $title-18 !important;
}
.title-19{
  font-size: $title-19 !important;
}
.title-20{
  font-size: $title-20 !important;
}
.title-21{
  font-size: $title-21 !important;
}
.title-22{
  font-size: $title-22 !important;
}
.title-23{
  font-size: $title-23 !important;
}
.title-24{
  font-size: $title-24 !important;
}
.title-25{
  font-size: $title-25 !important;
}
.title-26{
  font-size: $title-26 !important;
}
.title-27{
  font-size: $title-27 !important;
}
.title-28{
  font-size: $title-28 !important;
}
.title-29{
  font-size: $title-29 !important;
}
.title-30{
  font-size: $title-30 !important;
}
.title-31{
  font-size: $title-31 !important;
}
.title-32{
  font-size: $title-32 !important;
}
.title-33{
  font-size: $title-33 !important;
}
.title-34{
  font-size: $title-34 !important;
}
.title-35{
  font-size: $title-35 !important;
}
.title-36{
  font-size: $title-36 !important;
}
.title-37{
  font-size: $title-37 !important;
}
.title-38{
  font-size: $title-38 !important;
}
.title-39{
  font-size: $title-39 !important;
}
.title-40{
  font-size: $title-40 !important;
}
.title-41{
  font-size: $title-41 !important;
}
.title-42{
  font-size: $title-42 !important;
}
.title-43{
  font-size: $title-43 !important;
}
.title-45{
  font-size: $title-45 !important;
}
.title-45{
  font-size: $title-45 !important;
}
.title-46{
  font-size: $title-46 !important;
}
.line-clamp-default{
  -webkit-box-orient: vertical; 
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
}
.line-clamp-1{
  @extend .line-clamp-default;
  -webkit-line-clamp: $line-clamp-1 !important;
}
.line-clamp-2{
  @extend .line-clamp-default;
  -webkit-line-clamp: $line-clamp-2 !important;
}
.line-clamp-3{
  @extend .line-clamp-default;
  -webkit-line-clamp: $line-clamp-3 !important;
}
.line-clamp-4{
  @extend .line-clamp-default;
  -webkit-line-clamp: $line-clamp-4 !important;
}
.line-clamp-5{
  @extend .line-clamp-default;
  -webkit-line-clamp: $line-clamp-5 !important;
}
.line-clamp-6{
  @extend .line-clamp-default;
  -webkit-line-clamp: $line-clamp-6 !important;
}
.round-0{
  border-radius: 0px !important;
}
.round-1{
  border-radius: $round-1 !important;
}
.round-2{
  border-radius: $round-2 !important;
}
.round-3{
  border-radius: $round-3 !important;
}
.round-4{
  border-radius: $round-4 !important;
}
.round-5{
  border-radius: $round-5 !important;
}
.round-6{
  border-radius: $round-6 !important;
}
.round-7{
  border-radius: $round-7 !important;
}
.round-8{
  border-radius: $round-8 !important;
}
.round-9{
  border-radius: $round-9 !important;
}
.round-10{
  border-radius: $round-10 !important;
}
.round-11{
  border-radius: $round-11 !important;
}
.round-12{
  border-radius: $round-12 !important;
}
.round-13{
  border-radius: $round-13 !important;
}
.round-14{
  border-radius: $round-14 !important;
}
.round-15{
  border-radius: $round-15 !important;
}
.width-full{
  width: 100%;
}
::-webkit-input-placeholder { /* Edge */
  color: #ffffff82;
  font-size: $title-8 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff82;
  font-size: $title-8 !important;
}
::placeholder {
  color: #ffffff82;
  font-size: $title-8 !important;
}
.field-input{
  font-size: 12px !important;
}
.input-default-login{
  width: 100%;
  background: #ffffff14;
  min-height: 40px;
  border: solid 1px transparent;
  padding: 5px 10px 5px 10px;
  color: #ffffff;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  outline-style: none;
}
.input-default-login:focus{
  outline: unset !important;
}
.shadow-1{
  box-shadow: 0 0.25rem 0.125rem 0 rgb(0 0 0 / 5%) !important;
}
.shadow-2{
  box-shadow: 0 0.25rem 0.125rem 0 rgb(0 0 0 / 10%) !important;
}
.shadow-3{
  box-shadow: 0 2px 10px 0 rgb(94 86 105 / 10%) !important;
}
.object-cover{
  object-fit: cover;
}
.pointer{
  cursor: pointer;
}