<template>
  <v-card
    id="account"
    class="
      py-3
      px-1
      shadow-1
      round-5
    "
  >
    <v-row
      no-gutters
    >
      <v-col
        cols="12"
        xl="3"
        lg="3"
        md="3"
        sm="3"
        xs="12"
        class="
          px-2
          text-center
        "
      >
        <v-avatar
          class="
            round-6
          "
          size="40"
        >
          <img
            src="@/assets/images/gongyoo.jpg"
            class="
              object-cover
            "
          >
        </v-avatar>
      </v-col>
      <v-col
        cols="12"
        xl="7"
        lg="7"
        md="7"
        sm="7"
        xs="12"
        class="
          px-2
        "
      >
        <div>
          <span
            class="
              grey--text
              text--lighten-2
            "
          >
            Accounting Manager
          </span>
        </div>
        <div>
          <span
            class="
              title-bold
              title-10
            "
          >
            Gong Yoo
          </span>
        </div>
      </v-col>
      <v-col
        cols="12"
        xl="2"
        lg="2"
        md="2"
        sm="2"
        xs="12"
        class="
          text-center
          pt-2
          pr-4
        "
      >
        <v-menu
          transition="slide-y-transition"
          :close-on-content-click="false"
          top
        >
          <template
            #activator="{
              on,
              attrs
            }"
          >
            <span
              v-bind="attrs"
              v-on="on"
            >
              <i
                class="
                  grey--text
                  pointer
                  fas fa-chevron-down
                  fa-2x
                "
              />
            </span>
          </template>
          <v-list
            dense
            width="200"
            class="
              py-0
            "
          >
            <v-list-item
              link
              class="
                px-2
              "
              @click="postDataSignout()"
            >
              <v-list-item-icon
                class="
                  mr-2
                "
              >
                <v-icon
                  size="25"
                >
                  fal fa-sign-out
                </v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title
                  class="
                    title-8
                  "
                >
                  ออกจากระบบ
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  mounted () {
  },
  methods: {
    postDataSignout () {
      this.$nuxt.$fire.auth.signOut()
    }
  }
}
</script>

<style lang="scss">
#account{
}
</style>
