<template>
  <v-card
    id="sidebar"
    class="round-0"
  >
    <v-navigation-drawer
      v-model="drawer"
      width="250"
      hide-overlay
      fixed
      app
    >
      <div
        class="
          width-full
          header
        "
      >
        <div
          class="
            pt-10
            pb-5
            px-10
            text-center
          "
        >
          <div
            class="
              title-16
              white--text
            "
          >
            NVSL - IMS
          </div>
        </div>
      </div>
      <ul
        class="menu"
      >
        <li
          class="
            default-menu
          "
          :class="{
            'active-menu': $route.path === '/dashboard'
          }"
        >
          <nuxt-link
            class="
              text-decoration-none
            "
            :to="{
              path: '/dashboard'
            }"
          >
            <div
              class="
                d-flex
              "
            >
              <div
                class="
                  width-icon-menu
                  text-center
                "
              >
                <i
                  class="
                    white--text
                    text--lighten-5
                    fal fa-presentation
                    fa-lg
                  "
                  style="
                    --fa-secondary-opacity: 0.30
                  "
                />
              </div>
              <div
                class="
                  pl-2
                "
              >
                <span
                  class="
                    title-medium
                    title-8
                    white--text
                  "
                >
                  Dashboard
                </span>
              </div>
            </div>
          </nuxt-link>
        </li>
        <li
          class="
            default-menu
          "
          :class="{
            'active-menu': $route.path === '/partner'
          }"
        >
          <nuxt-link
            class="
              text-decoration-none
            "
            :to="{
              path: '/partner'
            }"
          >
            <div
              class="
                d-flex
              "
            >
              <div
                class="
                  width-icon-menu
                  text-center
                "
              >
                <i
                  class="
                    white--text
                    text--lighten-5
                    fal fa-user-friends
                    fa-lg
                  "
                  style="
                    --fa-secondary-opacity: 0.30
                  "
                />
              </div>
              <div
                class="
                  pl-2
                "
              >
                <span
                  class="
                    title-medium
                    title-8
                    white--text
                  "
                >
                  Partner
                </span>
              </div>
            </div>
          </nuxt-link>
        </li>
        <li
          class="
            default-menu
          "
          :class="{
            'active-menu': $route.path === '/invoice'
          }"
        >
          <nuxt-link
            class="
              text-decoration-none
            "
            :to="{
              path: '/invoice',
              query: {
                tab: '0'
              }
            }"
          >
            <div
              class="
                d-flex
              "
            >
              <div
                class="
                  width-icon-menu
                  text-center
                "
              >
                <i
                  class="
                    white--text
                    text--lighten-5
                    fal fa-file-invoice-dollar
                    fa-lg
                  "
                  style="
                    --fa-secondary-opacity: 0.30
                  "
                />
              </div>
              <div
                class="
                  pl-2
                "
              >
                <span
                  class="
                    title-medium
                    title-8
                    white--text
                  "
                >
                  Invoice
                </span>
              </div>
            </div>
          </nuxt-link>
        </li>
      </ul>
    </v-navigation-drawer>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      drawer: true
    }
  },
  mounted () {
  },
  methods: {
    postDataSignout () {
      this.$nuxt.$fire.auth.signOut()
    }
  }
}
</script>

<style lang="scss">
#sidebar{
  .header{
    padding-right: 20px;
  }
  .v-navigation-drawer{
    z-index: 0 !important;
    background-image: linear-gradient(to bottom, #0353b4, #4675c5, #7398d3, #a0bae1, #d0dded);
  }
  .v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border{
    background-color: unset !important;
  }
  .v-navigation-drawer .v-list{
    padding: 0px !important;
  }
  .v-list-item--dense .v-list-item__icon, .v-list--dense .v-list-item .v-list-item__icon:first-child{
    margin-right: 15px !important;
  }
  .primary--text{
    color: unset !important;
    caret-color: unset !important;
  }
  .v-list--dense .v-list-item .v-list-item__title{
    line-height: 2rem !important;
  }
  .width-icon-menu{
    width: 20px;
  }
  .default-menu{
    padding: 15px;
    cursor: pointer;
  }
  .menu {
    list-style-type: none;
    width: 230px;
    position: relative;
  }
  .menu > .active-menu {
    padding: 15px;
    cursor: pointer;
    position: relative;
    span, i{
      color: #000000 !important;
    }
  }
  .menu > .active-menu::before, .menu > .active-menu::after {
    content: "";
    position: absolute;
  }
  .menu > .active-menu {
    background: #eaf4fe;
    border-radius: 30px 0 0 30px;
  }
  .menu > .active-menu::before {
    top: -80px;
    right: -1px;
    height: 80px;
    width: 40px;
    border-bottom-right-radius: 30px;
    -moz-border-bottom-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -webkit-box-shadow: 0 40px 0 0 #eaf4fe;
    -moz-box-shadow: 0 40px 0 0 #eaf4fe;
    box-shadow: 0 40px 0 0 #eaf4fe;
  }
  .menu > .active-menu::after {
    top: 48px;
    right: -1px;
    height: 80px;
    width: 40px;
    border-top-right-radius: 30px;
    -moz-border-top-right-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -webkit-box-shadow: 0 -40px 0 0 #eaf4fe;
    -moz-box-shadow: 0 -40px 0 0 #eaf4fe;
    box-shadow: 0 -40px 0 0 #eaf4fe;
  }
}
</style>
