<template>
  <v-row
    id="invoice"
    no-gutters
  >
    <v-col
      cols="12"
      xl="12"
      lg="12"
      md="12"
      sm="12"
      xs="12"
    >
      <v-row
        class="pa-2"
        no-gutters
      >
        <v-col
          cols="12"
          xl="10"
          lg="9"
          md="8"
          sm="12"
          xs="12"
          class="
            px-2
          "
        >
          <v-text-field
            solo
            dense
            hide-details
            label="search"
            prepend-inner-icon="fal fa-search"
            class="
              round-4
              invoice-search
            "
          />
        </v-col>
        <v-col
          cols="12"
          xl="2"
          lg="3"
          md="4"
          sm="12"
          xs="12"
          class="
            px-2
          "
        >
          <account />
        </v-col>
      </v-row>
      <v-row
        class="
          py-0
          px-4
        "
        no-gutters
      >
        <v-col
          cols="12"
        >
          <v-breadcrumbs
            :items="items"
            class="
              pa-0
              blue--text
              text--lighten-1
            "
          >
            <template
              #divider
            >
              <v-icon
                class="
                  blue--text
                  text--lighten-1
                "
              >
                mdi-chevron-right
              </v-icon>
            </template>
          </v-breadcrumbs>
        </v-col>
      </v-row>
      <v-row
        class="
          py-4
          px-4
        "
        no-gutters
      >
        <v-col
          cols="12"
        >
          <span
            class="
              title-bold
              title-12
            "
          >
            Invoice
          </span>
          <span
            class="
              blue--text
              text--lighten-1
              pl-2
            "
          >
            (ใบแจ้งหนี้)
          </span>
        </v-col>
      </v-row>
      <v-row
        class="
          py-0
          px-4
        "
        no-gutters
      >
        <v-col
          cols="12"
        >
          <v-tabs
            v-model="modelTab"
            fixed-tabs
          >
            <v-tab
              v-for="(
                tab,
                index
              ) in tabs"
              :key="index"
              class="
                tab-default
              "
              :class="{
                'tab-active': tab.id === JSON.parse($route.query.tab)
              }"
              @click="
                getDataTabLink(
                  tab.id
                )
              "
            >
              <div
                v-if="
                  tab.id !== JSON.parse($route.query.tab)
                "
                class="
                  d-flex
                "
              >
                <div
                  class="
                    pt-1
                  "
                >
                  <v-avatar
                    :color="tab.color"
                    size="10"
                  />
                </div>
                <div
                  class="
                    pl-2
                    title-10
                    title-medium
                    grey--text
                    text--lighten-1
                  "
                >
                  {{ tab.name }}
                  <span
                    v-if="
                      tab.id === 0
                    "
                  >
                    ({{ dataUsers.length }})
                  </span>
                  <span
                    v-if="
                      tab.id === 1
                    "
                  >
                    ({{ dataUsers.filter(x => x.status.id === 1).length }})
                  </span>
                  <span
                    v-if="
                      tab.id === 2
                    "
                  >
                    ({{ dataUsers.filter(x => x.status.id === 2).length }})
                  </span>
                  <span
                    v-if="
                      tab.id === 3
                    "
                  >
                    ({{ dataUsers.filter(x => x.status.id === 3).length }})
                  </span>
                  <span
                    v-if="
                      tab.id === 4
                    "
                  >
                    ({{ dataUsers.filter(x => x.status.id === 4).length }})
                  </span>
                  <span
                    v-if="
                      tab.id === 5
                    "
                  >
                    ({{ dataUsers.filter(x => x.status.id === 5).length }})
                  </span>
                </div>
              </div>
              <div
                v-if="
                  tab.id === JSON.parse($route.query.tab)
                "
                class="
                  mt-4
                "
              >
                <v-card
                  flat
                  :color="tab.color"
                  class="
                    white--text
                    text-center
                    title-10
                    title-medium
                    round-3
                    px-6
                    py-1
                  "
                >
                  <span>
                    {{ tab.name }}
                  </span>
                  <span
                    class="
                      pl-1
                    "
                  >
                    <span
                      v-if="
                        tab.id === 0
                      "
                    >
                      ({{ dataUsers.length }})
                    </span>
                    <span
                      v-if="
                        tab.id === 1
                      "
                    >
                      ({{ dataUsers.filter(x => x.status.id === 1).length }})
                    </span>
                    <span
                      v-if="
                        tab.id === 2
                      "
                    >
                      ({{ dataUsers.filter(x => x.status.id === 2).length }})
                    </span>
                    <span
                      v-if="
                        tab.id === 3
                      "
                    >
                      ({{ dataUsers.filter(x => x.status.id === 3).length }})
                    </span>
                    <span
                      v-if="
                        tab.id === 4
                      "
                    >
                      ({{ dataUsers.filter(x => x.status.id === 4).length }})
                    </span>
                    <span
                      v-if="
                        tab.id === 5
                      "
                    >
                      ({{ dataUsers.filter(x => x.status.id === 5).length }})
                    </span>
                  </span>
                </v-card>
              </div>
            </v-tab>
          </v-tabs>
          <v-tabs-items
            v-model="modelTab"
            class="
              tab-items
              shadow-1
            "
          >
            <v-tab-item
              :value="0"
            >
              <v-card
                class="
                  px-4
                  py-4
                "
              >
                <invoiceByStatus
                  :status="0"
                />
              </v-card>
            </v-tab-item>
            <v-tab-item
              :value="1"
            >
              <v-card
                class="
                  px-4
                  py-4
                "
              >
                <invoiceByStatus
                  :status="1"
                />
              </v-card>
            </v-tab-item>
            <v-tab-item
              :value="2"
            >
              <v-card
                class="
                  px-4
                  py-4
                "
              >
                <invoiceByStatus
                  :status="2"
                />
              </v-card>
            </v-tab-item>
            <v-tab-item
              :value="3"
            >
              <v-card
                class="
                  px-4
                  py-4
                "
              >
                <invoiceByStatus
                  :status="3"
                />
              </v-card>
            </v-tab-item>
            <v-tab-item
              :value="4"
            >
              <v-card
                class="
                  px-4
                  py-4
                "
              >
                <invoiceByStatus
                  :status="4"
                />
              </v-card>
            </v-tab-item>
            <v-tab-item
              :value="5"
            >
              <v-card
                class="
                  px-4
                  py-4
                "
              >
                <invoiceByStatus
                  :status="5"
                />
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import account from '@/components/account.vue'
import invoiceByStatus from '@/components/invoice/invoice-by-status.vue'

export default {
  components: {
    account,
    invoiceByStatus
  },
  layout: 'default',
  data () {
    return {
      modelTab: JSON.parse(this.$route.query.tab),
      items: [
        {
          text: 'Project Management',
          disabled: false,
          href: 'breadcrumbs_dashboard'
        },
        {
          text: 'Invoice',
          disabled: false,
          href: 'breadcrumbs_link_1'
        }
      ],
      tabs: [
        {
          id: 0,
          name: 'ทั้งหมด',
          color: '#59a3f8'
        },
        {
          id: 1,
          name: 'รอชำระเงิน',
          color: '#fedbb1'
        },
        {
          id: 2,
          name: 'รอตรวจสอบ',
          color: '#d8d5fc'
        },
        {
          id: 3,
          name: 'จ่ายแล้ว',
          color: '#ccf0f1'
        },
        {
          id: 4,
          name: 'ไม่สำเร็จ',
          color: '#dfe0e4'
        },
        {
          id: 5,
          name: 'ยกเลิก',
          color: '#e3958f'
        }
      ]
    }
  },
  computed: {
    ...mapGetters(
      {
        dataUsers: 'user/dataUsers'
      }
    )
  },
  mounted () {
  },
  methods: {
    ...mapActions(
      {
      }
    ),
    getDataTabLink (
      link
    ) {
      this.$router.push(
        {
          path: '/invoice',
          query: {
            tab: link
          }
        }
      )
    }
  }
}
</script>

<style lang="scss">
#invoice{
  @import "@/assets/sass/custom-table.scss";
  @import "@/assets/sass/custom-v-tabs.scss";
  @import "@/assets/sass/custom-invoice-search.scss";
  .total-summary{
    color: #eb7260;
  }
  .v-data-table-header__sort-badge{
    display: none;
  }
  .navigation, .v-pagination{
    button{
      box-shadow: none !important;
    }
  }
}
</style>
