<!-- eslint-disable vue/valid-v-slot -->
<template>
  <v-row
    id="invoice-by-status"
    no-gutters
  >
    <v-col
      cols="12"
    >
      <v-row
        no-gutters
      >
        <v-col
          cols="12"
          xl="9"
          lg="7"
          md="6"
          sm="5"
          xs="12"
          class="
            px-2
          "
        >
          &nbsp;
        </v-col>
        <v-col
          cols="12"
          xl="3"
          lg="5"
          md="6"
          sm="7"
          xs="12"
          class="
            px-2
          "
        >
          <v-card
            color="#fafafa"
            class="
              py-2
              px-2
              shadow-1
              round-3
            "
          >
            <div
              class="
                d-flex
                justify-center
                total-summary
                title-medium
              "
            >
              <div
                class="
                  pb-2
                "
              >
                ยอดชำระทั้งหมด
              </div>
              <div
                class="
                  px-4
                  pt-1
                  title-bold
                  title-20
                "
              >
                {{ summaryAll | currency }}
              </div>
              <div
                class="
                  pt-4
                "
              >
                บาท
              </div>
            </div>
          </v-card>
        </v-col>
      </v-row>
      <v-row
        no-gutters
        class="
          px-2
          py-4
        "
      >
        <v-col
          cols="4"
        >
          <div
            class="
              d-flex
            "
          >
            <div
              class="
                pt-3
                title-medium
                grey--text
              "
            >
              Show
            </div>
            <div
              class="
                px-2
              "
            >
              <v-select
                v-model="itemsPerPage"
                class="
                  round-3
                  per-page
                "
                item-text="name"
                item-value="perpage"
                outlined
                hide-details
                dense
                :items="itemsPage"
                @change="itemsPerPage = parseInt($event, 10)"
              />
            </div>
            <div
              class="
                pt-3
                title-medium
                grey--text
              "
            >
              Entries
            </div>
          </div>
        </v-col>
        <v-col
          cols="12"
          class="
            py-2
          "
        >
          <v-data-table
            :headers="headers"
            :items="dataUsersList"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            hide-default-footer
            multi-sort
            @page-count="pageCount = $event"
          >
            <template
              #top
            >
              <v-dialog
                v-model="dialogDetailSlip"
                max-width="400"
                overlay-opacity="0.80"
                persistent
              >
                <modalSlip />
              </v-dialog>
            </template>
            <template
              #header.id
            >
              <div
                class="
                  d-flex
                  pl-4
                "
              >
                <div
                  class="
                    title-medium
                  "
                >
                  <div>
                    No.
                  </div>
                  <div>
                    ลำดับที่
                  </div>
                </div>
                <div
                  class="
                    pl-2
                  "
                >
                  <div
                    class="
                      pointer
                    "
                    @click="sortedByUp(
                      'id'
                    )"
                  >
                    <i
                      class="
                        fas fa-chevron-up
                      "
                    />
                  </div>
                  <div
                    class="
                      pointer
                    "
                    @click="sortedByDown(
                      'id'
                    )"
                  >
                    <i
                      class="
                        fas fa-chevron-down
                      "
                    />
                  </div>
                </div>
              </div>
            </template>
            <template
              #header.code
            >
              <div
                class="
                  d-flex
                "
              >
                <div
                  class="
                    title-medium
                  "
                >
                  <div>
                    Code
                  </div>
                  <div>
                    เลขที่บิล
                  </div>
                </div>
                <div
                  class="
                    pl-2
                  "
                >
                  <div
                    class="
                      pointer
                    "
                    @click="sortedByUp(
                      'code'
                    )"
                  >
                    <i
                      class="
                        fas fa-chevron-up
                      "
                    />
                  </div>
                  <div
                    class="
                      pointer
                    "
                    @click="sortedByDown(
                      'code'
                    )"
                  >
                    <i
                      class="
                        fas fa-chevron-down
                      "
                    />
                  </div>
                </div>
              </div>
            </template>
            <template
              #header.project_name
            >
              <div
                class="
                  d-flex
                "
              >
                <div
                  class="
                    title-medium
                  "
                >
                  <div>
                    Project Name
                  </div>
                  <div>
                    ชื่อโปรเจค
                  </div>
                </div>
                <div
                  class="
                    pl-2
                  "
                >
                  <div
                    class="
                      pointer
                    "
                    @click="sortedByUp(
                      'project_name'
                    )"
                  >
                    <i
                      class="
                        fas fa-chevron-up
                      "
                    />
                  </div>
                  <div
                    class="
                      pointer
                    "
                    @click="sortedByDown(
                      'project_name'
                    )"
                  >
                    <i
                      class="
                        fas fa-chevron-down
                      "
                    />
                  </div>
                </div>
              </div>
            </template>
            <template
              #header.data
            >
              <div
                class="
                  d-flex
                "
              >
                <div
                  class="
                    title-medium
                  "
                >
                  <div>
                    Date
                  </div>
                  <div>
                    วันที่ออกบิล
                  </div>
                </div>
                <div
                  class="
                    pl-2
                  "
                >
                  <div
                    class="
                      pointer
                    "
                    @click="sortedByUp(
                      'data'
                    )"
                  >
                    <i
                      class="
                        fas fa-chevron-up
                      "
                    />
                  </div>
                  <div
                    class="
                      pointer
                    "
                    @click="sortedByDown(
                      'data'
                    )"
                  >
                    <i
                      class="
                        fas fa-chevron-down
                      "
                    />
                  </div>
                </div>
              </div>
            </template>
            <template
              #header.first_name
            >
              <div
                class="
                  d-flex
                "
              >
                <div
                  class="
                    title-medium
                  "
                >
                  <div>
                    Customer Name
                  </div>
                  <div>
                    ชื่อลูกค้า
                  </div>
                </div>
                <div
                  class="
                    pl-2
                  "
                >
                  <div
                    class="
                      pointer
                    "
                    @click="sortedByUp(
                      'first_name'
                    )"
                  >
                    <i
                      class="
                        fas fa-chevron-up
                      "
                    />
                  </div>
                  <div
                    class="
                      pointer
                    "
                    @click="sortedByDown(
                      'first_name'
                    )"
                  >
                    <i
                      class="
                        fas fa-chevron-down
                      "
                    />
                  </div>
                </div>
              </div>
            </template>
            <template
              #header.payment
            >
              <div
                class="
                  d-flex
                "
              >
                <div
                  class="
                    title-medium
                  "
                >
                  <div>
                    Payment Amount
                  </div>
                  <div>
                    ยอดชำระ
                  </div>
                </div>
                <div
                  class="
                    pl-2
                  "
                >
                  <div
                    class="
                      pointer
                    "
                    @click="sortedByUp(
                      'payment'
                    )"
                  >
                    <i
                      class="
                        fas fa-chevron-up
                      "
                    />
                  </div>
                  <div
                    class="
                      pointer
                    "
                    @click="sortedByDown(
                      'payment'
                    )"
                  >
                    <i
                      class="
                        fas fa-chevron-down
                      "
                    />
                  </div>
                </div>
              </div>
            </template>
            <template
              #header.slip
            >
              <div
                class="
                  d-flex
                "
              >
                <div
                  class="
                    title-medium
                  "
                >
                  <div>
                    Slip
                  </div>
                  <div>
                    หลักฐานการโอนเงิน
                  </div>
                </div>
                <div
                  class="
                    pl-2
                  "
                >
                  <div
                    class="
                      pointer
                    "
                    @click="sortedByUp(
                      'id'
                    )"
                  >
                    <i
                      class="
                        fas fa-chevron-up
                      "
                    />
                  </div>
                  <div
                    class="
                      pointer
                    "
                    @click="sortedByDown(
                      'id'
                    )"
                  >
                    <i
                      class="
                        fas fa-chevron-down
                      "
                    />
                  </div>
                </div>
              </div>
            </template>
            <template
              #header.status
            >
              <div
                class="
                  d-flex
                "
              >
                <div
                  class="
                    title-medium
                  "
                >
                  <div>
                    Status
                  </div>
                  <div>
                    สถานะ
                  </div>
                </div>
                <div
                  class="
                    pl-2
                  "
                >
                  <div
                    class="
                      pointer
                    "
                    @click="sortedByUp(
                      'id'
                    )"
                  >
                    <i
                      class="
                        fas fa-chevron-up
                      "
                    />
                  </div>
                  <div
                    class="
                      pointer
                    "
                    @click="sortedByDown(
                      'id'
                    )"
                  >
                    <i
                      class="
                        fas fa-chevron-down
                      "
                    />
                  </div>
                </div>
              </div>
            </template>
            <template
              #item.id="{ index }"
            >
              <span
                class="
                  pl-4
                "
              >
                {{ index + 1 }}.
              </span>
            </template>
            <template
              #[`item.data`]="{
                item
              }"
            >
              {{ date(item.data) }}
            </template>
            <template
              #[`item.code`]="{
                item
              }"
            >
              <span
                class="
                  blue--text
                  text--lighten-2
                  title-bold
                "
              >
                {{ item.code }}
              </span>
            </template>
            <template
              #[`item.project_name`]="{
                item
              }"
            >
              <span
                class="
                  blue--text
                  text--lighten-2
                  title-bold
                "
              >
                {{ item.project_name }}
              </span>
            </template>
            <template
              #[`item.first_name`]="{
                item
              }"
            >
              {{ item.first_name }}
              {{ item.last_name }}
            </template>
            <template
              #[`item.payment`]="{
                item
              }"
            >
              <span
                class="
                  total-summary
                  title-bold
                "
              >
                {{ item.payment | currency }}
              </span>
            </template>
            <template
              #[`item.slip`]="{}"
            >
              <i
                class="
                  blue--text
                  text--lighten-2
                  fas fa-receipt
                  fa-2x
                  mr-10
                  pointer
                "
                @click="dialogDetailSlip = true"
              />
            </template>
            <template
              #[`item.status`]="{
                item
              }"
            >
              <div
                class="
                  pt-2
                "
              >
                <v-card
                  v-if="
                    item.status.id === 1
                  "
                  flat
                  color="#feeb7e"
                  class="
                    text-center
                    round-2
                    px-2
                    py-1
                  "
                >
                  {{ item.status.name_status }}
                </v-card>
                <v-card
                  v-if="
                    item.status.id === 2
                  "
                  flat
                  color="#ccc6ff"
                  class="
                    text-center
                    round-2
                    px-2
                    py-1
                  "
                >
                  {{ item.status.name_status }}
                </v-card>
                <v-card
                  v-if="
                    item.status.id === 3
                  "
                  flat
                  color="#c8f1e9"
                  class="
                    text-center
                    round-2
                    px-2
                    py-1
                  "
                >
                  {{ item.status.name_status }}
                </v-card>
                <v-card
                  v-if="
                    item.status.id === 4
                  "
                  flat
                  color="#c3cad1"
                  class="
                    text-center
                    round-2
                    px-2
                    py-1
                  "
                >
                  {{ item.status.name_status }}
                </v-card>
                <v-card
                  v-if="
                    item.status.id === 5
                  "
                  flat
                  color="#efadb3"
                  class="
                    text-center
                    round-2
                    px-2
                    py-1
                  "
                >
                  {{ item.status.name_status }}
                </v-card>
              </div>
              <div
                class="
                  grey--text
                  d-flex
                  justify-center
                  py-1
                "
              >
                <div
                  class="
                    px-1
                  "
                >
                  โดย
                </div>
                <div
                  class="
                    px-1
                  "
                >
                  <i
                    class="
                      fas fa-clipboard
                    "
                  />
                </div>
                <div
                  class="
                    px-1
                  "
                >
                  8
                </div>
                <div
                  class="
                    px-1
                  "
                >
                  <i
                    class="
                      fas fa-user
                    "
                  />
                </div>
                <div
                  class="
                    px-1
                  "
                >
                  2
                </div>
              </div>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
      <v-row
        no-gutters
        class="
          px-2
          py-2
        "
      >
        <v-col
          cols="12"
        >
          <v-pagination
            v-model="page"
            :length="pageCount"
            color="#56a5f7"
            circle
          />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import moment from 'moment'
import { mapGetters, mapMutations } from 'vuex'
import modalSlip from '@/components/invoice/modal-slip'
moment.locale('th')

export default {
  components: {
    modalSlip
  },
  props: {
    status: {
      required: true,
      type: Number
    }
  },
  data () {
    return {
      dialogDetailSlip: false,
      dataUsersList: [],
      page: 1,
      pageCount: 0,
      itemsPerPage: 10
    }
  },
  computed: {
    ...mapGetters(
      {
        dataUsers: 'user/dataUsers',
        itemsPage: 'user/itemsPage',
        headers: 'user/headers'
      }
    ),
    summaryAll () {
      let sum = 0
      const numberQty = []
      this.dataUsersList.forEach(function (item) {
        if (item) {
          numberQty.push(
            JSON.parse(item.payment)
          )
          sum = numberQty.reduce(function (a, b) {
            return a + b
          }, 0)
        }
      })
      return sum
    }
  },
  mounted () {
    this.getDataUsers()
    this.$root.$on('dialogModalDetailSlip', (
      status
    ) => {
      this.dialogDetailSlip = status
    })
  },
  methods: {
    getDataUsers () {
      if (
        this.status === 0
      ) {
        this.dataUsersList = this.dataUsers
      } else {
        this.dataUsersList = this.dataUsers.filter(x => x.status.id === this.status)
      }
    },
    ...mapMutations(
      {
      }
    ),
    date (date) {
      return moment(date).add(543, 'year').format('DD/MM/YYYY')
    },
    sortedByUp (
      type
    ) {
      if (
        type === 'id'
      ) {
        this.dataUsersList.sort((a, b) => a.id - b.id)
      }
      if (
        type === 'payment'
      ) {
        this.dataUsersList.sort((a, b) => a.payment - b.payment)
      }
      if (
        type === 'data'
      ) {
        this.dataUsersList.sort(function (a, b) {
          return new Date(a.data) - new Date(b.data)
        })
      }
      if (
        type === 'code'
      ) {
        this.dataUsersList.sort(function (a, b) {
          if (a.code.toLowerCase() < b.code.toLowerCase()) {
            return -1
          }
          if (a.code.toLowerCase() > b.code.toLowerCase()) {
            return 1
          }
          return 0
        })
      }
      if (
        type === 'project_name'
      ) {
        this.dataUsersList.sort(function (a, b) {
          if (a.project_name.toLowerCase() < b.project_name.toLowerCase()) {
            return -1
          }
          if (a.project_name.toLowerCase() > b.project_name.toLowerCase()) {
            return 1
          }
          return 0
        })
      }
      if (
        type === 'first_name'
      ) {
        this.dataUsersList.sort(function (a, b) {
          if (a.first_name.toLowerCase() < b.first_name.toLowerCase()) {
            return -1
          }
          if (a.first_name.toLowerCase() > b.first_name.toLowerCase()) {
            return 1
          }
          return 0
        })
      }
    },
    sortedByDown (
      type
    ) {
      if (
        type === 'id'
      ) {
        this.dataUsersList.sort((a, b) => b.id - a.id)
      }
      if (
        type === 'payment'
      ) {
        this.dataUsersList.sort((a, b) => b.payment - a.payment)
      }
      if (
        type === 'data'
      ) {
        this.dataUsersList.sort(function (a, b) {
          return new Date(b.data) - new Date(a.data)
        })
      }
      if (
        type === 'code'
      ) {
        this.dataUsersList.sort(function (a, b) {
          if (b.code.toLowerCase() < a.code.toLowerCase()) {
            return -1
          }
          if (b.code.toLowerCase() > a.code.toLowerCase()) {
            return 1
          }
          return 0
        })
      }
      if (
        type === 'project_name'
      ) {
        this.dataUsersList.sort(function (a, b) {
          if (b.project_name.toLowerCase() < a.project_name.toLowerCase()) {
            return -1
          }
          if (b.project_name.toLowerCase() > a.project_name.toLowerCase()) {
            return 1
          }
          return 0
        })
      }
      if (
        type === 'first_name'
      ) {
        this.dataUsersList.sort(function (a, b) {
          if (b.first_name.toLowerCase() < a.first_name.toLowerCase()) {
            return -1
          }
          if (b.first_name.toLowerCase() > a.first_name.toLowerCase()) {
            return 1
          }
          return 0
        })
      }
    }
  }
}
</script>

<style lang="scss">
#invoice-by-status{
  .per-page{
    width: 100px;
    font-size: 10px;
    background-color: #e9e9e9;
    border-color: #e9e9e9;
    fieldset{
      border: none !important;
    }
  }
}
</style>
