<template>
  <div
    id="modal-slip"
  >
    <v-card
      class="
        bg-card-1
        round-5
      "
    >
      <v-toolbar
        color="primary"
        dense
        flat
        dark
      >
        <div
          class="
            title-10
            title-bold
          "
        >
          รายละเอียดหลักฐานการโอนเงิน
        </div>
      </v-toolbar>
      <v-card-text
        class="py-0"
      >
        <div>
          <v-divider />
        </div>
      </v-card-text>
      <v-card-text
        class="
          px-2
          py-2
        "
      >
        <v-row
          no-gutters
        >
          <v-col
            cols="12"
            class="
              px-1
              text-center
            "
          >
            <img src="@/assets/images/payment-success.jpg">
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider />
      <v-card-actions
        class="
          pt-3
          px-2
          d-flex
          justify-end
        "
      >
        <v-btn
          outlined
          color="error"
          class="round-3"
          @click="$root.$emit('dialogModalDetailSlip', false)"
        >
          <i
            class="
              error--text
              fal fa-times-circle
              fa-2x
            "
            style="--fa-secondary-opacity: 0.30"
          />
          <span
            class="
              title-8
              pl-2
            "
          >
            ปิด
          </span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>

<style lang="scss">
</style>
