<template>
  <v-app>
    <v-main>
      <sidebar
        v-if="getUser"
      />
      <nuxt
        class="
          card-main
          px-4
          py-6
        "
      />
      <vue-snotify />
    </v-main>
  </v-app>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import sidebar from '@/components/sidebar'

export default {
  components: {
    sidebar
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters(
      {
        getUser: 'getUser'
      }
    )
  },
  mounted () {
    this.$store.commit('theme_config/setTheme', null)
    this.setStoreDataTheme()
    this.setTheme()
  },
  methods: {
    ...mapActions(
      {
        setStoreDataTheme: 'theme_config/setStoreDataTheme',
        setStoreDataThemeVuetify: 'theme_config/setStoreDataThemeVuetify'
      }
    ),
    setTheme () {
      setTimeout(() => {
        this.$i18n.locale = this.$store.state.language_config.language
        this.$vuetify.theme.dark = this.$store.state.theme_config.setThemeVuetify
      }, 1000)
    }
  }
}
</script>

<style lang="scss">
.card-main{
  height: 100vh;
  width: 101.5%;
  z-index: 1;
  left: -20px;
  border-radius: 20px 0 0 20px !important;
  position: absolute;
  background: #eaf4fe;
  overflow: auto;
}
</style>
