<template>
  <v-row
    id="login"
    no-gutters
  >
    <v-col
      cols="12"
      xl="12"
      lg="12"
      md="12"
      sm="12"
      xs="12"
    >
      <v-row
        class="login-form"
        no-gutters
      >
        <v-col
          cols="12"
          xl="12"
          lg="12"
          md="12"
          sm="12"
          xs="12"
          class="
            justify-center
            d-flex
          "
        >
          <v-card
            class="
              round-10
              login-card
              pa-5
            "
          >
            <v-row
              no-gutters
            >
              <v-col
                cols="12"
                xl="12"
                lg="12"
                md="12"
                sm="12"
                xs="12"
                class="
                  justify-center
                  d-flex
                "
              >
                <img
                  width="100px"
                  src="@/assets/logo.png"
                >
              </v-col>
            </v-row>
            <v-row
              class="my-5"
              no-gutters
            >
              <v-col
                class="
                  title-bold
                  text-center
                  title-16
                "
                cols="12"
              >
                NVSL - IMS
              </v-col>
            </v-row>
            <v-row
              no-gutters
            >
              <v-col
                cols="12"
                xl="12"
                lg="12"
                md="12"
                sm="12"
                xs="12"
              >
                <v-row
                  no-gutters
                >
                  <v-col
                    cols="12"
                  >
                    <v-text-field
                      v-model="auth.email"
                      :error-messages="errorUsername"
                      prepend-icon="fal fa-user-circle"
                      placeholder="ชื่อผู้ใช้"
                      class="round-5"
                      hide-details
                      outlined
                      filled
                      dense
                    />
                  </v-col>
                </v-row>
              </v-col>
              <v-col
                class="my-2"
                cols="12"
                xl="12"
                lg="12"
                md="12"
                sm="12"
                xs="12"
              >
                <v-row
                  no-gutters
                >
                  <v-col
                    cols="12"
                  >
                    <v-text-field
                      v-model="auth.password"
                      :error-messages="errorPassword"
                      prepend-icon="fal fa-lock-alt"
                      :append-icon="showPawword ? 'fal fa-eye' : 'fal fa-eye-slash'"
                      :type="showPawword ? 'text' : 'password'"
                      placeholder="รหัสผ่าน"
                      class="round-5"
                      hide-details
                      outlined
                      filled
                      dense
                      @click:append="showPawword = !showPawword"
                    />
                  </v-col>
                </v-row>
              </v-col>
              <v-col
                xl="12"
                lg="12"
                md="12"
                sm="12"
                xs="12"
                class="
                  py-1
                  text-center
                "
              >
                <v-btn
                  v-if="loadingAuth === false"
                  color="success"
                  width="100%"
                  class="
                    round-3
                    title-10
                  "
                  @click="postDataSignin()"
                >
                  <span
                    class="pr-2"
                  >
                    เข้าสู่ระบบ
                  </span>
                  <i
                    class="
                      white--text
                      fal fa-sign-in-alt
                      fa-lg
                    "
                    style="
                      --fa-secondary-opacity: 0.30
                    "
                  />
                </v-btn>
                <v-btn
                  v-if="loadingAuth === true"
                  class="
                    width-full
                    round-3
                  "
                  disabled
                >
                  <i
                    class="
                      text--lighten-5
                      fad fa-spinner-third
                      fa-spin
                      fa-2x
                    "
                    style="
                      --fa-secondary-opacity: 0.30
                    "
                  />
                  <span
                    class="
                      pl-2
                      title-8
                    "
                  >
                    กำลังเข้าสู่ระบบ...
                  </span>
                </v-btn>
              </v-col>
            </v-row>
            <!-- <v-row
              class="
                d-flex
                justify-center
                pt-3
              "
              no-gutters
            >
              <v-avatar
                class="
                  mx-1
                  pointer
                "
                size="20"
                color="#2d2d2d"
                @click="setDataTheme(
                  true
                )"
              />
              <v-avatar
                class="
                  mx-1
                  pointer
                "
                size="20"
                color="#dddddd"
                @click="setDataTheme(
                  false
                )"
              />
            </v-row> -->
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {
  data () {
    return {
      loadingAuth: false,
      auth: {
        email: 'nuxtjs@gmail.com',
        password: 'nuxtJS19615'
      },
      showPawword: false,
      submitted: false
    }
  },
  validations: {
    auth: {
      email: {
        required
      },
      password: {
        required
      }
    }
  },
  computed: {
    ...mapGetters(
      {
        setTheme: 'theme/setTheme'
      }
    ),
    errorUsername () {
      const errors = []
      if (!this.$v.auth.$dirty) {
        return errors
      }
      !this.$v.auth.email.required && errors.push('กรุณากรอก ชื่อผู้ใช้')
      return errors
    },
    errorPassword () {
      const errors = []
      if (!this.$v.auth.$dirty) {
        return errors
      }
      !this.$v.auth.password.required && errors.push('กรุณากรอก รหัสผ่าน')
      return errors
    }
  },
  methods: {
    postDataSignin () {
      this.submitted = true
      this.loadingAuth = true
      this.$v.$touch()
      if (this.$v.$invalid) {
        return undefined
      } else {
        setTimeout(() => {
          this.$fire.auth.signInWithEmailAndPassword(
            this.auth.email,
            this.auth.password
          )
            .catch(function (error) {
              this.loadingAuth = false
              this.$snotify.error(
                error.code,
                error.message,
                {
                  position: 'rightTop',
                  timeout: 5000,
                  titleMaxLength: 100,
                  bodyMaxLength: 200,
                  showProgressBar: true,
                  closeOnClick: false,
                  pauseOnHover: true
                }
              )
            })
            .then(() => {
              this.loadingAuth = false
              this.$router.push({
                path: '/invoice',
                query: {
                  tab: '0'
                }
              }, () => {})
            })
        }, 1000)
      }
    },
    setDataTheme (type) {
      this.$vuetify.theme.dark = type
      this.setStoreDataThemeVuetify(
        type
      )
    },
    ...mapActions(
      {
        setStoreDataThemeVuetify: 'theme_config/setStoreDataThemeVuetify'
      }
    )
  }
}
</script>

<style lang="scss">
#login{
  .login-card{
    margin-left: 35%;
    margin-right: 35%;
  }
  .login-form{
    padding-top: 7%;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media screen and (max-width: 1600px){
    .login-card{
      margin-left: 35% !important;
      margin-right: 35% !important;
    }
  }
  @media screen and (max-width: 1264px){
    .login-card{
      margin-left: 30% !important;
      margin-right: 30% !important;
    }
  }
  @media screen and (max-width: 960px){
    .login-card{
      margin-left: 0% !important;
      margin-right: 0% !important;
    }
  }
  .v-image__image--cover{
    opacity: 0.1;
  }
}
</style>
