<template>
  <v-row
    id="partner"
    no-gutters
  >
    <v-col
      cols="12"
      xl="12"
      lg="12"
      md="12"
      sm="12"
      xs="12"
    >
      <v-row
        class="pa-2"
        no-gutters
      >
        <v-col
          cols="12"
          xl="10"
          lg="9"
          md="8"
          sm="12"
          xs="12"
          class="
            px-2
          "
        >
          <v-text-field
            solo
            dense
            hide-details
            label="search"
            prepend-inner-icon="fal fa-search"
            class="
              round-4
              invoice-search
            "
          />
        </v-col>
        <v-col
          cols="12"
          xl="2"
          lg="3"
          md="4"
          sm="12"
          xs="12"
          class="
            px-2
          "
        >
          <account />
        </v-col>
      </v-row>
      <v-row
        class="
          py-0
          px-4
        "
        no-gutters
      >
        <v-col
          cols="12"
        >
          <v-breadcrumbs
            :items="items"
            class="
              pa-0
              blue--text
              text--lighten-1
            "
          >
            <template
              #divider
            >
              <v-icon
                class="
                  blue--text
                  text--lighten-1
                "
              >
                mdi-chevron-right
              </v-icon>
            </template>
          </v-breadcrumbs>
        </v-col>
      </v-row>
      <v-row
        class="
          py-4
          px-4
        "
        no-gutters
      >
        <v-col
          cols="12"
        >
          <span
            class="
              title-bold
              title-12
            "
          >
            partner
          </span>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
  },
  layout: 'default',
  data () {
    return {
      items: [
        {
          text: 'Project Management',
          disabled: false,
          href: 'breadcrumbs_dashboard'
        },
        {
          text: 'partner',
          disabled: false,
          href: 'breadcrumbs_link_1'
        }
      ]
    }
  },
  computed: {
    ...mapGetters(
      {
      }
    )
  },
  mounted () {
  },
  methods: {
    ...mapActions(
      {
      }
    )
  }
}
</script>

<style lang="scss">
@import "@/assets/sass/custom-invoice-search.scss";
</style>
